@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900'); /* NORMAL */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    line-height: 1.7;
    box-sizing: border-box;
    user-select: none;
}

/*----------CSS DEL HEADER----------*/

.containerHeader {
    width: 100%;
}

.divHeader {
    padding: 50px;
    text-align: center;
    background-color: #2B2E38;
}

.divHeader img {
    margin-bottom: 5px; 
    pointer-events: none;
}

.divHeader h3 {
    color: white;
    font-size: 20px; 
    font-weight: bold;
}

.navMain {
    background-color: #FFEBA7;
    box-shadow: 0 0 7 7px #FFEBA7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navMain li a {
    margin: 30px; 
}

ul.itemsBarraNavegacion {
    display: flex;
    list-style: none; 
    margin-top: 15px;
}

ul.itemsBarraNavegacion .dropDown {
    margin-right: 30px; 
}

ul.itemsBarraNavegacion li a, a.dropdown-toggle {
    text-decoration: none; 
    font-size: 15px;
    font-weight: bold; 
    color: #2B2E38;
}

/*---------SECCION TABLAS----------*/

.tituloTabla {
    background-color: #2B2E38;
    color: white;
    padding: 10px;
    font-size: 30px;
}

.tablaPrincipal {
    padding: 5px;
    margin: 5px;
    width: 100%;
}
    
.tablaPrincipal img {
    pointer-events: none;
}

.tablaPrincipal  table {
    height: 100%;
    border: 3.5px solid #2B2E38;
    background: #E5E5E5;
}

.tablaPrincipal th, .tablaPrincipal td {
    border: 3.5px solid #2B2E38;
    padding: 8px;
    text-align: center;
    font-size: 22px;
}

.tablaPrincipal tr:nth-child(even){
    background: #D5D5D5;
    border: 3.5px solid #2B2E38;
}

.tablaPrincipal th {
    font-weight: bold;
    font-size: 16px;
    border: 3.5px solid #2B2E38;
}

.tablaEstadisticas {
    width: 30%;
    margin: 10px;
    border-collapse: collapse;
}

.tablaEstadisticas img {
    pointer-events: none;
}

.tablaEstadisticas th, .tablaEstadisticas td {
    border: 3.5px solid #2B2E38;
    padding: 8px;
    text-align: center;
    font-size: 20px;
}

.tablaEstadisticas .tituloTabla {
    color: white;
    font-weight: bold;
}

.tablaEstadisticas tr {
    background-color: #1F2029;
    color: #FFEBA7;
}

.contenedorTablas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .contenedorTablas {
        flex-direction: column;
    }

    .tablaEstadisticas {
        width: 100%;
        margin: 10px 0;
    }
}

.contenedorTablaPrincipalYEquipos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    height: 100%;
    overflow: hidden;
}

.contenedorEquipos {
    text-align: center;
    align-items: center;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nombreEquipo{
    text-decoration: none;
    margin-top:5px;
    padding: 5px;
}

/*---------SECCION TEMPORADAS----------*/

.containerTemporadas {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}

.containerTemporadas img {
    pointer-events: none;
}

.hrefTemporada{
    background-color: #2B2E38;
    text-decoration: none;
    justify-content: center;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgba(192, 191, 191, 0.5);
}

.btnTemporada:hover {
    /*box-shadow: 10px 10px 5px rgba(192, 191, 191, 0.5);*/
    font-size: 28px;
    transition-duration: 0.75s;
}

.btnTemporada{
    background-color: #2B2E38;
    border: 0px;
    text-decoration: none;
    color: #FFEBA7;
    font-size: 24px;
}

.imgTemporada {
    width: auto;
    height: 60px;
}

/*---------SECCION T5----------*/

.divTemporadaPrincipalT5 {
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.contenedorEquiposT5 {
    margin: 40px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*----------SECCION TEMPORADA INDIVIDUAL----------*/

.divTemporadaPrincipal {
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.divEquipoCampeon {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.divEquipoCampeon img {
    pointer-events: none;
}

.jugadoresCampeones{
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.infoEquipo img {
    pointer-events: none;
}

.infoEquipo{
    width: 225px;
    height: 190px;
    padding-top: 21px;
    text-decoration: none;
    background-color: rgb(241, 239, 233);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 12px rgba(192, 191, 191, 0.5);
}
.infoEquipo:hover{
    box-shadow: 5px 5px 5px rgba(192, 191, 191, 0.5);
}

/*--------SECCION FECHAS---------*/

.grid-container {
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.grid-container img {
    pointer-events: none;
}

.tablaFecha {
    margin: 15px;
}

.tablaFecha h2 {
    height: auto;
    width: 100%;
    color: white;
    margin: 0px;
    background-color: #343434;
    text-align: center;
}

table {
    box-shadow: 3px 3px rgb(185, 185, 185);
    border-collapse: collapse;
    width: 100%;
    height: 90%;
}

.tablaFecha td {
    color: black;
    border: 1px solid black;
    text-align: center;
}

.imgEquipo {
    margin-top: 5px;
    width: 20px;
}

.tablaFecha .resultado {
    font-size: 22px;
    width: 10%;
}

.tdNombreEquipos {
    font-size: 20px;
    width: 30%;
    background-color: rgb(228, 228, 225);
}

.fechaHora{
    font-weight: bold;
    background-color: rgb(154, 154, 154);
}

.equipo1 {
    width: 15%;
}

.equipo2 {
    width: 15%;
}

/*---------SECCION PLANTEL---------*/

.containerPlantel{
    display: block;
}

.divImagenEquipo{
    height: 55vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.imagenEquipo {
    height: 50vh;
}

.jugadoresEquipo{
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardJugador {
    display: flex;
    text-align: center;
    margin: 20px;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(122, 121, 121, 0.5);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.jugadorImg{
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
}

.divJugador{
    background-color: rgb(228, 113, 113);
    border-radius: 50%;
    border: 5px solid black;
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cardJugador {
    margin:15px;
}

.avatarJugador{
    margin: 0;
    justify-content: center;
    color: white;
}

/* -----------SCROLLBAR----------- */

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #1F2029;
    border: 1px solid #2B2E38;
}  

table td:nth-child(add) tr {
    background-color: black;
}

/*----------ESTILOS FOOTER----------*/
    
footer {
    width: 100%;
    background: #1F2029;
    background: linear-gradient(360deg, #1F2029 75%, white 450%);
    padding: 20px;
    margin-top: 40px;
}

.footerFormato {
    width: 100%;
    background: linear-gradient(360deg, #1F2029 75%, beige 600%);
    padding: 20px;
    margin-top: 0;
}

.containerFooter {
    display: grid;
    grid-template-columns: 35% 25% 40%;
    border-bottom: 2px solid #2B2E38;
}

.divFooterIMG {
    padding: 20px;
    text-align: start;
    display: flex;
    pointer-events: none;
}

.h3Footer {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

/*----------ESTILOS FOOTER----------*/

.h3Titulo{
    color: white;
    font-weight: bold;
    font-size: 17px;
    transform: translateY(40px);
}

.text-png {
    transform: translateY(40px);
}

.columns {
    display: flex;
}

.linkRed {
    text-decoration: none;
    color: #FFEBA7;
}

.redes {
    margin-right: 100px;
    text-decoration: none;
    list-style: none;

}

.footer-menu-redes {
    list-style: none;
    padding: 0;
}

.footer-menu-credits {
    list-style: none;
    padding: 0;
    color: #FFEBA7;
    pointer-events: none;
}

.footer-menu-credits li {
    display: flex;
    margin-top: 5px;
    text-align: center;
    align-items: center;
}
.footer-menu li {
    margin-bottom: 5px;
    color: #FFEBA7;
}

.imgCode{
    margin-right: 10px;
    height: 20px; 
    width: 20px;
}

.sponsors{
    align-items: center;
    display: flex;
}

.sponsors img {
    height: 105px;
    width: auto;
    pointer-events: none;
}

/*---------FORMATO----------*/

.formatoHeader {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

.formatoHeader img {
    pointer-events: none;
}

.formatoHeader:hover {
    color: #FFEBA7;
    transition-duration: 0.75s;
}

.formatoHeader h2 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.contenedorFormato {
    color: black;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #2B2E38;
}

.infoPrimeraSegundaTercera {
    user-select: all;
    color: beige;
}

.infoPrimeraSegundaTercera ul li {
    list-style-type: disc;
}

.infoLigaH2 {
    margin: -10px;
    font-size: 17px;
    color: #FFEBA7;
}

/*---------FORMATO----------*/

/*---------FECHAS NO DISPONBILES----------*/

.fechasNoDisponibles {
    margin-top: 10vh;
    font-size: 1em;
    border-radius: 10px;
    padding: 1em 4.25em 1.25em;
    color: #ffffff;
    background-color: #b41414;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgba(192, 191, 191, 0.5);
  }

  .fechasNoDisponibles h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 0.6em;
    opacity: 0.95;
  }
  
  .fechasNoDisponibles p {
    font-size: 1.0em;
    margin: 0 0 0.5em;
    opacity: 0.85;
  }
  
  .fechasNoDisponibles:before {
    content: ':(';
    float: right;
    font-size: 2.5em;
    padding: 0.15em 0.3em;
    font-weight: bold;
  }

/*---------FECHAS NO DISPONBILES----------*/