<div class="divNoticia">
    <h1 class="noticia">Se buscan DTs para la temporada 9</h1>
    <h5>26/12/2023</h5>
    <div class="imagenNoticia">
      <img src="/images/imagenesNoticias/seBuscanDt.png" class="img-fluid" height="400px" width="500px" alt="Imagen de la noticia">
    </div>
    <p class="parrafoNoticia">Debido a la baja de varios DTs en el Torneo de Promesas, el staff esta buscando nuevos dirigentes para la próxima temporada. Los interesados en tomar el cargo en algún equipo, deberán reaccionar con ✅ a la publicación del discord. La administración <img src="/images/paoloPng.png" height="25px" width="25px" alt="Paolo"> evaluará a los más aptos. <br> ⚠️ Aclaración: Los DT solo podrán dirigir a sus jugadores, es decir, no podrán jugar para el equipo.</p>
</div>