<html lang="es">
  <head>
    <title>F.C.P.G.</title>
    <base href="{BASE_URL}">
    <meta charset="utf-8">
    <link href="https://fonts.cdnfonts.com/css/noto-sans-math" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../footer.css" rel="stylesheet" type="text/css">    
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/code-slash.css' rel='stylesheet'>
  </head>
</html>

<footer>

  <div class="containerFooter">

    <div class="divFooterIMG">
        <img width="100px" height="100px" src="../images/PG-PNGBLANCO.png" alt="icono">
        <h3 class="text-png">Fútbol Champagne a lo Paolo</h3>
    </div>

    <div class="columns">
      <div class="redes">
        <h3>Redes</h3>
        <ul class="footer-menu-redes">
          <li>
            <a href="https://www.youtube.com/@futbolchampagnealopaolo" target="_blank">Youtube</a>
          </li>
          <li>
            <a href="https://www.instagram.com/futbolchampagnealopaolo/?hl=es" target="_blank">Instagram</a>
          </li>
          <li>
            <a href="https://www.tiktok.com/@futbolchampagnealopaolo?lang=es" target="_blank">TikTok</a>
          </li>
          <li>
            <a href="https://www.twitch.tv/futbolchampagnealopaolo" target="_blank">Twitch</a>
          </li>
        </ul>
      </div>
    
      <div class="creditos">
        <h3>Créditos</h3>
        <ul class="footer-menu-credits">
          <li><img src="../images/codigo.png" class="imgCode">prrs</li>
          <li><img src="../images/codigo.png" class="imgCode">tenka</li>
          <li><img src="../images/codigo.png" class="imgCode">FaCunDoRF</li>
        </ul>
      </div>
    </div>

    <div class="sponsors">
      <img src="../images/sponsors/29_sin_titulo_20240105180721.png" alt="">
      <img src="../images/sponsors/ALARMAS-JULIAN-ALVAREZ2.png" alt="">
      <img src="../images/sponsors/ALFAJORES-HAUCHE2.png" alt="">
      <img src="../images/sponsors/COLCHONES-MATE-AMARGO.png" alt="">

    </div>

  </div>
  

</footer> 