<div class="seccionPeriodismo" >
    <h2 class="periodismo">Periodismo</h2>
    
    <div class="noticiaPeriodismo">
      <h3 class="tituloNoticia">Entrevista a mendysmo. Capitán de All Boys.</h3>
      <p class="pt-1">
        🎙️- Hola Mendy bienvenido ¿Cómo estas? <br>
        🗣️- Hola Fran, excelente.<br>
        🎙️- ¿Que opinas de tu rival Estudiantes en la copa lo ves accesible?<br>
        🗣️- Nos tocó un rival bastante difícil pero es lo que hay, el partido lo veo un 50 y 50. Se armaron muy bien para los playoff, igualmente esperemos poder pasar a semis.<br>
        🎙️- ¿Que jugadores crees que puedan sorprender en el partido en general?<br>
        🗣️-Yo creo riu puede ser la llave del gol y que defina el encuentro, pero también mis 2 defensores experimentados van a sorprender.<br>
        🎙️- ¿Que pensas de los jugadores de Estudiantes?<br>
        🗣️- La mayoría de los que están en estudiantes me caen bien, el único que lo veo que la boquea es nuñez, yo no hablaría antes de los partidos, además no la ve ni cuadrada.<br>
        🎙️- ¿Algun mensaje para terminar?<br>
        🗣️- Si, le mando un saludo al ojete de la vieja de aldinho.</p>
        <p>Entrevista realizada por Fran_cdz.</p>
    </div>

  </div>